<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.cmsCloud.mapper.NlpLabProjectMapper">
    
    <resultMap type="NlpLabProject" id="NlpLabProjectResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="recordContent"    column="record_content"    />
        <result property="postSort"    column="post_sort"    />
        <result property="projectStatus"    column="project_status"    />
        <result property="status"    column="status"    />
        <result property="creatBy"    column="creat_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updataTime"    column="updata_time"    />
    </resultMap>

    <sql id="selectNlpLabProjectVo">
        select id, name, record_content, post_sort, project_status, status, creat_by, create_time, update_by, updata_time from nlp_lab_project
    </sql>

    <select id="selectNlpLabProjectList" parameterType="NlpLabProject" resultMap="NlpLabProjectResult">
        <include refid="selectNlpLabProjectVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="recordContent != null  and recordContent != ''"> and record_content = #{recordContent}</if>
            <if test="postSort != null "> and post_sort = #{postSort}</if>
            <if test="projectStatus != null  and projectStatus != ''"> and project_status = #{projectStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="creatBy != null  and creatBy != ''"> and creat_by = #{creatBy}</if>
            <if test="updataTime != null "> and updata_time = #{updataTime}</if>
        </where>
        order by post_sort
    </select>
    
    <select id="selectNlpLabProjectById" parameterType="Long" resultMap="NlpLabProjectResult">
        <include refid="selectNlpLabProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNlpLabProject" parameterType="NlpLabProject" useGeneratedKeys="true" keyProperty="id">
        insert into nlp_lab_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="recordContent != null">record_content,</if>
            <if test="postSort != null">post_sort,</if>
            <if test="projectStatus != null">project_status,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="creatBy != null">creat_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updataTime != null">updata_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="recordContent != null">#{recordContent},</if>
            <if test="postSort != null">#{postSort},</if>
            <if test="projectStatus != null">#{projectStatus},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="creatBy != null">#{creatBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updataTime != null">#{updataTime},</if>
         </trim>
    </insert>

    <update id="updateNlpLabProject" parameterType="NlpLabProject">
        update nlp_lab_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="recordContent != null">record_content = #{recordContent},</if>
            <if test="postSort != null">post_sort = #{postSort},</if>
            <if test="projectStatus != null">project_status = #{projectStatus},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="creatBy != null">creat_by = #{creatBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updataTime != null">updata_time = #{updataTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNlpLabProjectById" parameterType="Long">
        delete from nlp_lab_project where id = #{id}
    </delete>

    <delete id="deleteNlpLabProjectByIds" parameterType="String">
        delete from nlp_lab_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>