<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.cmsCloud.mapper.NlpLabTeacherModuleMapper">

    <resultMap type="NlpLabTeacherModule" id="NlpLabTeacherModuleResult">
        <result property="id"    column="id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="title"    column="title"    />
        <result property="recordContent"    column="record_content"    />
        <result property="status"    column="status"    />
        <result property="postSort" column="post_sort"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNlpLabTeacherModuleVo">
        select id, teacher_id, title, record_content, status,post_sort, create_by, create_time, update_by, update_time from nlp_lab_teacher_module
    </sql>

    <select id="selectNlpLabTeacherModuleList" parameterType="NlpLabTeacherModule" resultMap="NlpLabTeacherModuleResult">
        <include refid="selectNlpLabTeacherModuleVo"/>
        <where>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="recordContent != null  and recordContent != ''"> and record_content = #{recordContent}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by post_sort
    </select>

    <select id="selectNlpLabTeacherModuleById" parameterType="Long" resultMap="NlpLabTeacherModuleResult">
        <include refid="selectNlpLabTeacherModuleVo"/>
        where id = #{id}
    </select>

    <insert id="insertNlpLabTeacherModule" parameterType="NlpLabTeacherModule">
        insert into nlp_lab_teacher_module
<!--        <foreach collection="list" separator="," item="item">-->
<!--            (#{item.name},#{item.age},#{item.phone},#{item.address},#{item.classId})-->
<!--        </foreach>-->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="title != null">title,</if>
            <if test="recordContent != null">record_content,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="title != null">#{title},</if>
            <if test="recordContent != null">#{recordContent},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNlpLabTeacherModule" parameterType="NlpLabTeacherModule">
        update nlp_lab_teacher_module
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="recordContent != null">record_content = #{recordContent},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNlpLabTeacherModuleById" parameterType="Long">
        delete from nlp_lab_teacher_module where id = #{id}
    </delete>
    <delete id="deleteNlpLabTeacherModuleByTeacherId" parameterType="Long">
        delete from nlp_lab_teacher_module where teacher_id =#{teacherId}
    </delete>

    <delete id="deleteNlpLabTeacherModuleByIds" parameterType="String">
        delete from nlp_lab_teacher_module where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
