<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.frontendWeb.mapper.ShowNlpFrontendRecourceMapper">

    <resultMap type="NlpFrontendRecource" id="NlpFrontendRecourceResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="recourceName"    column="recource_name"    />
        <result property="recordContent"    column="record_content"    />
        <result property="recourceUrl"    column="recource_url"    />
        <result property="postSort"    column="post_sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNlpFrontendRecourceVo">
        select id, status, recource_name, record_content, recource_url, post_sort, create_by, create_time, update_by, update_time, remark from nlp_frontend_recource
    </sql>

    <select id="selectNlpFrontendRecourceList" parameterType="NlpFrontendRecource" resultMap="NlpFrontendRecourceResult">
        <include refid="selectNlpFrontendRecourceVo"/>
        <where>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="recourceName != null  and recourceName != ''"> and recource_name like concat('%', #{recourceName}, '%')</if>
            <if test="recordContent != null  and recordContent != ''"> and record_content = #{recordContent}</if>
            <if test="recourceUrl != null  and recourceUrl != ''"> and recource_url = #{recourceUrl}</if>
            <if test="postSort != null "> and post_sort = #{postSort}</if>
        </where>
    </select>

    <select id="selectNlpFrontendRecourceById" parameterType="Long" resultMap="NlpFrontendRecourceResult">
        <include refid="selectNlpFrontendRecourceVo"/>
        where id = #{id}
    </select>

    <insert id="insertNlpFrontendRecource" parameterType="NlpFrontendRecource" useGeneratedKeys="true" keyProperty="id">
        insert into nlp_frontend_recource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="recourceName != null">recource_name,</if>
            <if test="recordContent != null">record_content,</if>
            <if test="recourceUrl != null">recource_url,</if>
            <if test="postSort != null">post_sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="recourceName != null">#{recourceName},</if>
            <if test="recordContent != null">#{recordContent},</if>
            <if test="recourceUrl != null">#{recourceUrl},</if>
            <if test="postSort != null">#{postSort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateNlpFrontendRecource" parameterType="NlpFrontendRecource">
        update nlp_frontend_recource
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="recourceName != null">recource_name = #{recourceName},</if>
            <if test="recordContent != null">record_content = #{recordContent},</if>
            <if test="recourceUrl != null">recource_url = #{recourceUrl},</if>
            <if test="postSort != null">post_sort = #{postSort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNlpFrontendRecourceById" parameterType="Long">
        delete from nlp_frontend_recource where id = #{id}
    </delete>

    <delete id="deleteNlpFrontendRecourceByIds" parameterType="String">
        delete from nlp_frontend_recource where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>