<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.frontendWeb.mapper.ShowNlpFrontendNewsMapper">

    <resultMap type="NlpFrontendNews" id="NlpFrontendNewsResult">
        <result property="id"    column="id"    />
        <result property="newsImg"    column="news_img"    />
        <result property="title"    column="title"    />
        <result property="synopsisContent"    column="synopsis_content"    />
        <result property="recordContent"    column="record_content"    />
        <result property="isStick"    column="is_stick"    />
        <result property="postSort"    column="post_sort"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNlpFrontendNewsVo">
        select id, news_img, title, synopsis_content, record_content, is_stick, post_sort, status, create_by, create_time, update_by, update_time, remark from nlp_frontend_news
    </sql>

    <select id="selectNlpFrontendNewsList" parameterType="NlpFrontendNews" resultMap="NlpFrontendNewsResult">
        <include refid="selectNlpFrontendNewsVo"/>
        <where>
            <if test="title != null  and title != ''"> and title like ('%', #{title}, '%')</if>
            <if test="isStick != null  and isStick != ''"> and is_stick = #{isStick}</if>
            <if test="postSort != null "> and post_sort = #{postSort}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by is_stick asc, post_sort asc, create_time desc
    </select>
    <select id="selectNlpFrontendNewsById" resultType="com.train.common.domain.NlpFrontendNews">
        <include refid="selectNlpFrontendNewsVo"/>
        where id = #{id}
    </select>

</mapper>
