<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.frontendWeb.mapper.ShowNlpFrontendLinkMapper">

    <resultMap type="NlpFrontendLink" id="NlpFrontendLinkResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="linkName"    column="link_name"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="postSort"    column="post_sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNlpFrontendLinkVo">
        select id, status, link_name, link_url, post_sort, create_by, create_time, update_by, update_time, remark from nlp_frontend_link
    </sql>

    <select id="selectNlpFrontendLinkList" parameterType="NlpFrontendLink" resultMap="NlpFrontendLinkResult">
        <include refid="selectNlpFrontendLinkVo"/>
        <where>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="linkName != null  and linkName != ''"> and link_name like concat('%', #{linkName}, '%')</if>
            <if test="linkUrl != null  and linkUrl != ''"> and link_url = #{linkUrl}</if>
            <if test="postSort != null "> and post_sort = #{postSort}</if>
        </where>
        order by post_sort asc ,create_time asc
    </select>

    <select id="selectNlpFrontendLinkById" parameterType="Long" resultMap="NlpFrontendLinkResult">
        <include refid="selectNlpFrontendLinkVo"/>
        where id = #{id}
    </select>
</mapper>